@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-background: oklch(var(--background));
  --color-foreground: oklch(var(--foreground));
  --color-sidebar-ring: oklch(var(--sidebar-ring));
  --color-sidebar-border: oklch(var(--sidebar-border));
  --color-sidebar-accent-foreground: oklch(var(--sidebar-accent-foreground));
  --color-sidebar-accent: oklch(var(--sidebar-accent));
  --color-sidebar-primary-foreground: oklch(var(--sidebar-primary-foreground));
  --color-sidebar-primary: oklch(var(--sidebar-primary));
  --color-sidebar-foreground: oklch(var(--sidebar-foreground));
  --color-sidebar: oklch(var(--sidebar));
  --color-chart-5: oklch(var(--chart-5));
  --color-chart-4: oklch(var(--chart-4));
  --color-chart-3: oklch(var(--chart-3));
  --color-chart-2: oklch(var(--chart-2));
  --color-chart-1: oklch(var(--chart-1));
  --color-ring: oklch(var(--ring));
  --color-input: oklch(var(--input));
  --color-border: oklch(var(--border));
  --color-destructive: oklch(var(--destructive));
  --color-accent-foreground: oklch(var(--accent-foreground));
  --color-accent: oklch(var(--accent));
  --color-muted-foreground: oklch(var(--muted-foreground));
  --color-muted: oklch(var(--muted));
  --color-secondary-foreground: oklch(var(--secondary-foreground));
  --color-secondary: oklch(var(--secondary));
  --color-primary-foreground: oklch(var(--primary-foreground));
  --color-primary: oklch(var(--primary));
  --color-popover-foreground: oklch(var(--popover-foreground));
  --color-popover: oklch(var(--popover));
  --color-card-foreground: oklch(var(--card-foreground));
  --color-success: oklch(var(--success));
  --color-card: oklch(var(--card));
  --drop-shadow-text: 2px 2px 4px rgba(0, 0, 0, 0.8);
  --aspect-card: 3.3 / 5;

  --breakpoint-xs: 25rem;

  /*  animation  */
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
  --animate-fade-in: fadeIn 2s ease-out forwards;
  --animate-twinkle: twinkle 2s infinite;
  --animate-float: float 6s ease-in-out infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes twinkle {
    0%,
    100% {
      opacity: 0.2;
    }
    50% {
      opacity: 1;
    }
  }
  @keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
}

:root {
  /* --radius: 0.75rem; */
  --background: 1 0 0;
  --foreground: 0.145 0 0;
  --card: 1 0 0;
  --card-foreground: 0.145 0 0;
  --popover: 1 0 0;
  --popover-foreground: 0.145 0 0;
  --primary: 0.2099 0.1384 266.15;
  --primary-foreground: 1 0 0;
  --secondary: 86.995% 0.0001 271.152;
  --secondary-foreground: 0.205 0 0;
  --muted: 0.97 0 0;
  --muted-foreground: 0.556 0 0;
  --accent: 0.97 0 0;
  --accent-foreground: 0.205 0 0;
  --destructive: 0.577 0.245 27.325;
  --border: 0.922 0 0;
  --input: 0.922 0 0;
  --ring: 0.708 0 0;
  --chart-1: 0.646 0.222 41.116;
  --chart-2: 0.6 0.118 184.704;
  --chart-3: 0.398 0.07 227.392;
  --chart-4: 0.828 0.189 84.429;
  --chart-5: 0.769 0.188 70.08;
  --sidebar: 0.985 0 0;
  --sidebar-foreground: 0.145 0 0;
  --sidebar-primary: 0.2099 0.1384 266.15;
  --sidebar-primary-foreground: 1 0 0;
  --sidebar-accent: 0.97 0 0;
  --sidebar-accent-foreground: 0.205 0 0;
  --sidebar-border: 0.922 0 0;
  --sidebar-ring: 0.708 0 0;
  --success: 0.38 0.18 160;
}

.dark {
  --background: 0% 0 0;
  --foreground: 0.985 0 0;
  --card: 0.1747 0.0026 325.69;
  --card-foreground: 0.985 0 0;
  --popover: 0.205 0 0;
  --popover-foreground: 0.985 0 0;
  --primary: 0.4509 0.2005 262.37;
  --primary-foreground: 1 0 0;
  --secondary: 0.269 0 0;
  --secondary-foreground: 0.985 0 0;
  --muted: 0.269 0 0;
  --muted-foreground: 0.708 0 0;
  --accent: 0.269 0 0;
  --accent-foreground: 0.985 0 0;
  --destructive: 0.704 0.191 22.216;
  --border: 1 0 0 / 10%;
  --input: 1 0 0 / 15%;
  --ring: 0.556 0 0;
  --chart-1: 0.488 0.243 264.376;
  --chart-2: 0.696 0.17 162.48;
  --chart-3: 0.769 0.188 70.08;
  --chart-4: 0.627 0.265 303.9;
  --chart-5: 0.645 0.246 16.439;
  --sidebar: 0.205 0 0;
  --sidebar-foreground: 0.985 0 0;
  --sidebar-primary: 0.488 0.243 264.376;
  --sidebar-primary-foreground: 0.985 0 0;
  --sidebar-accent: 0.269 0 0;
  --sidebar-accent-foreground: 0.985 0 0;
  --sidebar-border: 1 0 0 / 10%;
  --sidebar-ring: 0.556 0 0;
  --success: 55.695% 0.17135 145.641;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
  html {
    scroll-behavior: smooth;
    scroll-padding-top: theme(spacing.20);
  }
  .maplibregl-popup-content {
    @apply bg-transparent! shadow-none! p-0! rounded-none!;
  }
  .maplibregl-popup-tip {
    @apply hidden!;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading="lazy"] {
    clip-path: inset(0.6px);
  }
}

.clipped {
  clip-path: path(
    "M339.5 0H60.9806C48.4806 0 40.9999 8.5 40.9999 18.5C40.9999 34 38.4805 43.5 21.5 43.5C6.48047 43.5 0 52.5 0 60.5V445H339.5V0Z"
  );
}

.clipped-2 {
  clip-path: path(
    "M339.5 0H89.9807C77.4807 0 70 8.5 70 18.5C70 39 63 43.5 21.5 43.5C6.48047 43.5 0 52.5 0 60.5V445H339.5V0Z"
  );
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scroll-bar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll-bar-hidden {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
